<h1>Todo List</h1>

<div class="input-row">
  <input 
    #taskTitle
    type="text" 
    [value]="title()" 
    (input)="title.set(taskTitle.value)" 
    placeholder="Enter task..."
  >
  
  <input 
    #taskTime
    type="time" 
    [value]="dueTime()" 
    (input)="dueTime.set(taskTime.value)"
  >
  
  <button (click)="addTask()">Add task</button>
</div>

<ul>
  @for (task of tasks(); track task.id) {
    <li class="task-list" [class.is-done]="task.completed">
      <input 
        type="checkbox" 
        [checked]="task.completed" 
        (change)="toggleTask(task.id)"
      >

      <span class="index">{{ $index + 1 }}</span>
      <span class="title">{{ task.title }}</span>
      
      @if (task.dueTime) {
        <span class="due-badge">{{ task.dueTime }}</span>
      }

      <span class="actions">
        <button (click)="deleteTask(task.id)">Delete</button>
      </span>
    </li>
  }
  @empty {
    <span>No tasks found!</span>
  }
</ul>